@page "/sample-survey"
@using FinPlan.Web.Components.Models
@using FinPlan.Web.Components.Survey
@using Microsoft.AspNetCore.Components

<PageTitle>Sample Survey</PageTitle>

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <SurveyForm Questions="@questions" Title="Sample Survey" SurveyType="SampleSurvey" Description="This is a sample survey using the shared survey components." />
        </div>
    </div>
</div>

@code {
    private List<SurveyQuestion> questions = new()
    {
        new SurveyQuestion("How would you rate your overall experience with the site?", new List<string> { "Excellent", "Good", "Fair", "Poor" }),
        new SurveyQuestion("What did you like most about the site?"),
        new SurveyQuestion("How likely are you to recommend the site to a friend?", new List<string> { "Very Likely", "Likely", "Neutral", "Unlikely" })
    };
}
