@page "/terms-of-use"


	<script type="text/javascript">
		atOptions = {
			'key' : 'b5884e8b25ae5c2e95a95c2a81a11da4',
			'format' : 'iframe',
			'height' : 60,
			'width' : 468,
			'params' : {}
		};
	</script>
	<script type="text/javascript" src="//www.highperformanceformat.com/b5884e8b25ae5c2e95a95c2a81a11da4/invoke.js"></script>


<div class="about-hero jumbotron text-white p-4 rounded mb-4">
	<div class="container">
		<h1 class="display-5">Terms of Use</h1>
		<p class="lead">Please read these terms before using the site.</p>
	</div>
</div>

<!-- Adstreea 468x60 Ad Banner -->


<div class="card p-3">
	<div class="card-body">
		<p>By using FinPlan, you agree to these terms. The site and its calculators are provided "as is" without warranties of
		any kind. We are not liable for any losses resulting from use of the site or reliance on the calculators.</p>

		<h3>Calculator disclaimer</h3>
		<p>Calculators are for illustrative and educational purposes only. Results are estimates and depend on the accuracy of
		inputs. Do not rely solely on our calculators for financial decisions.</p>

		<p>If you disagree with these terms, please do not use the site.</p>
	</div>
</div>
